@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}
.bg-img{
    background-image: url("https://www.tokkoro.com/picsup/3333237-paris-france-trees-landscape.jpg");
}

.container{
    height: 100%;
    align-content: center;
}

.card{
    height: 420px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
}

.card-header h3{
    color: dodgerblue;
    text-align: center;
}


input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;

}

.remember{
    color: black;
}

.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn{
    color: black;
    background-color: dodgerblue;
    width: 100px;
}

.login_btn:hover{
    color: black;
    background-color: white;
}

.links{
    color: black;
}

.links a{
    margin-left: 4px;
}

.w-full{
    width: 100%;
}

.color-w{
    color: white;
}


